#header {
	background-color: blue;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	font-family: "times new roman", sans-serif;
}
body {
	background-image: url("https://www.google.com/search?q=music&rlz=1C1MKDC_enUS771US771&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj1lrnzp7_ZAhXozIMKHbrFAGMQ_AUIDCgD&biw=1280&bih=553&dpr=1.5#imgrc=vSP7o3NreHZMnM:")
}


label {
	font-size: 18px;
}

#musician {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#musicianSearch {
	margin: 0 auto;
	text-align: center;
	font-family: "times new roman", sans-serif;
}

#gifArea {
	clear: both;
	display: inline;
	flex-wrap: wrap;
}

.musicianGiphy {
	padding: 2px;
	width: 80%;
}